@use "variable" as *;

.footer {
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  margin: 0 auto;
  color: wheat;
  gap: 15px;
  margin-top: auto;

  .footer_title {
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
  }
  .footer_input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    height: 50px;
    text-align: center;
    min-width: 70vw;
    margin: 0 auto;
    input {
      padding: 14px 16px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 20px;
      color: whitesmoke;
      text-align: center;
    }
    input:focus {
      border-color: rgba(236, 72, 153, 0.8);
      box-shadow: 0 0 10px rgba(236, 72, 153, 0.5),
        0 0 20px rgba(168, 85, 247, 0.5),
        inset 0 0 12px rgba(255, 255, 255, 0.1);
      transform: scale(1.02);
    }
    // .footer_input-name {
    //   // width: 30%;
    // }
    // .footer_input-email {
    //   // width: 30%;
    // }
    // .footer_input-message {
    //   // width: 50%;
    // }
    .footer_input-btn {
      position: relative;
      border-radius: 20px;
      border: 1px solid #00ffff;
      filter: drop-shadow(0 0 1px #ff00ff) drop-shadow(0 0 10px #00ffff);
      font-size: medium;
      cursor: pointer;
      margin: 0 15px;
      padding: 15px;
      color: $secondary-color;
    }
    .footer_input-btn:hover {
      transition: all 0.5s ease;
      transform: scale(1.05);
    }
  }
  .footer_items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    li:not(:first-child):hover {
      filter: drop-shadow(0 0 5px #ff00ff) drop-shadow(0 0 10px #00ffff);
    }

    img {
      transform: scale(0.5);
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    grid-template-rows: 1fr 4fr 1fr;
  }
  .footer_items li:first-child {
    // margin-right: 20px !important;
    font-size: 0.8rem;
  }
  .footer_input {
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    align-items: center;
    input {
      width: 80%;
    }
  }
}
