@use "variable" as *;
.location_container {
  display: flex;
  justify-content: center;
  margin: 25px auto;
  padding: 25px;

  iframe {
    border-radius: 25px;
    padding: 15px;
    border: 5px solid $secondary-color;

  }
}
