@use "./base/reset";
@use "./base/typography";
@use "./components/buttons";
@use "variable" as *;
@use "header" as *;
@use "footer" as *;
@use "location" as *;
@use "test" as *;
li {
  color: #00ffff;
  // filter: drop-shadow(0 0 5px #ff00ff) drop-shadow(0 0 10px #00ffff);
}
li img {
  height: 50px;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 25px auto;

  .main-content_card-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 25px;
    text-align: center;
    margin: 15px auto;
    z-index: 1;
    position: relative;

    .main-content_photo {
      width: 200px;
      margin: 10px;
      border-radius: 50%;
      border: 1px solid $secondary-color;
      margin-top: 5px;
    }
    .main-content_card-title {
      margin-top: 15px;
      font-weight: 400;
    }
    .main-content_card-text {
      padding: 15px;
      font-size: 15px;
      color: $text-color;
    }
  }
  .container-skills,
  .container-projects {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 15px auto;
    .container-skills_title,
    .container-projects_title {
      margin: 15px 0;
      font-weight: 500;
    }
    .container-skills-list,
    .container-projects-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      margin: 15px auto;
      width: 100%;

      .container-skills_item,
      .container-projects_item {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 10px;
        height: 75px;

        img {
          margin-right: 15px;
        }
      }
      .container-projects_item {
        justify-content: center;
      }
    }
  }
}
