@use "../variable" as *;
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: $font-main;
  font-size: 16px;
  height: 100vh;
  // background: $background-gradient;
  background: linear-gradient(135deg, #0a0020, #12003a, #001f4d, #220042);
  background-size: 400% 400%;
  animation: midnightNeon 15s ease infinite;
}

@keyframes midnightNeon {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
