@use "../variable" as *;
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: $font-main;
  font-size: 16px;
  height: 100%;
  background: $background-gradient;
  margin-left: 5%;
  margin-right: 5%;
  background-attachment: fixed;
}
