@use "../variable" as *;
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: $font-main;
  font-size: 16px;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #05010f,
    /* почти чёрный синий */ #0a0833,
    /* глубокий navy */ #1010a0,
    /* неоновый акцент */ #07051a /* тёмный возврат */
  );
  background-size: 400% 400%;
  animation: gradientBG 18s ease infinite;
  overflow: hidden;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.neon-overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at 40% 40%,
    rgba(0, 54, 102, 0.2),
    transparent 70%
  );
  pointer-events: none;
  mix-blend-mode: screen;
}
