@use "../variable" as *;
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input,
textarea,
button,
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}
body {
  font-size: 16px;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(-45deg, #05010f, #0a0833, #1010a0, #07051a);
  }
}

.neon-overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at 40% 40%,
    rgba(0, 54, 102, 0.2),
    transparent 70%
  );
  pointer-events: none;
  mix-blend-mode: screen;
}
